<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div class="full-screen-container" id="error-page">
        <div class="content-container">
            <h1>Error</h1>
            <h3><%= message %></h3>
            <p>You will be redirected to the start page in <span id="countdown"><%= redirectTimeout %></span> seconds.</p>
        </div>
    </div>
    <script>
        const countdownElement = document.getElementById("countdown");
        let remainingTime = parseInt(countdownElement.innerText);

        const countdownInterval = setInterval(() => {
            remainingTime--;
            countdownElement.innerText = remainingTime;

            if (remainingTime <= 0) {
                clearInterval(countdownInterval);
                window.location.href = "/enter";
            }
        }, 1000);
    </script>
</body>
</html>