@font-face {
    font-family: 'CabritoDidione'; /* Name you want to use for the font */
    src: url('assets/cabrito-didone/CabritoDidone-NorReg.ttf') format('truetype'); /* Relative path to the font file */
    font-weight: normal; /* Optional: Specify weight */
    font-style: normal;  /* Optional: Specify style */
}

body, html, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CabritoDidione', sans-serif;
    font-size: 16px;
}

/* Full-screen container */
.full-screen-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #000; /* Background color */
    background-image: url("assets/red_bg.png");
    background-size: cover;
    background-position: center;
}

.full-screen-container#name-page {
    justify-content: center;
    align-items: center;
}

/* Content container */
.content-container {
    text-align: left;
    padding: 1.5rem;
    border-radius: 10px;
    width: 90%;
    max-width: calc(100vw - 3rem);
}

/* Continue Button */
button#submit-button {
    width: 100%;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    position: absolute;
    width: 90vw;
    max-width: calc(100vw - 3rem);
    bottom:1.5rem;
}

button#submit-button.active {
    background-color: #fff; /* Golden hover */
    color: #000;
}

/** 
 * ==================================================
 * ================= Name Page ======================
 * ================================================== 
 */
.full-screen-container#name-page {
    /* Input field */
    .input-container {
        margin-bottom: 20px;
    }

    /* Heading */
    .content-container h2 {
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .input-container input {
        width: 100%;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        background-color: transparent;
        color: #fff;
        font-size: 1rem;
        outline: none;
    }

    /* Placeholder color */
    .input-container input::placeholder {
        color: #aaa;
    }
}

/** 
 * ==================================================
 * ================= Top3 Page ======================
 * ================================================== 
 */
.full-screen-container#top3-page {
    .content-container h2 {
        color: #fff;
        font-size: 1.5rem;
        margin: 0 0 1.5rem 0;
    }

    .input-grid {
        display: grid;
        height: calc(100vh - 12rem);
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem 1rem;
        overflow-y: auto;
    }
    
    /* Option inputs */
    .option-input {
        height: calc((100vh - 12rem - (11 * 0.75rem)) / 12);
        padding: 0.5rem;
        border: 1px solid #fff;
        border-radius: 12px;
        background-color: transparent;
        color: #fff;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }
    
    .option-input.selected {
        background-color: #fff;
        color: #000;
    }
    
}