<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div class="full-screen-container" id="visit-later-page">
        <div class="content-container">
            <h1>Please visit later</h1>
            <p>Too many people on the waiting queue now...</p>
        </div>
    </div>
</body>
</html>